@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #F7F8FA;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */